@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.App {
  text-align: center;
  font-family: 'Pretendard', sans-serif;
  padding: 0 20px; /* 작은 화면에서 좌우 여백 추가 */
}
body {
  margin: 0;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.input1,
.input2 {
  width: 100%;
  max-width: 400px; /* 큰 화면에서는 최대 너비 제한 */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
}

.button {
  width: 100%;
  max-width: 400px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #66bb6a;
}

.button:active {
  background-color: #388e3c;
}

@media (max-width: 600px) {
  .input1,
  .input2,
  .button {
    width: calc(100% - 40px); /* 작은 화면에서는 좌우 여백 확보 */
    max-width: none;
  }
}

@media (min-width: 601px) {
  .input1,
  .input2,
  .button {
    margin: 8px auto; /* 큰 화면에서는 중앙 정렬 */
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 100px;
  overflow-x: auto;
}

@media (max-width: 600px) {
  .table {
    width: calc(100% - 40px);
    margin: 0 auto 100px;
  }
}

.App-header {
  width: 100vw;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}